.carousel .navbar-nav {
    flex-direction: row;
}
.carousel .navbar-nav .nav-link{
    color: rgb(165, 161, 161);
    font-weight:600;
}
.carousel .navbar-nav li {
    padding-right: 20px;
}

.navbar{
    margin-left: 100px;
}

.carousel{ 
    background-color: #1d1c1c;
}

* {
    margin: 0;
    padding: 0;
  } 
  
  .titl{
    font-size: 65px;
  }

  .sub{
    font-size: 25px;
    color: rgb(165, 161, 161);
  }

  .title {
    margin-left:32%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .col{
    align-items: center;
    justify-content: center;
  }

  .image{
    margin: 100px auto auto 100px;
    justify-content: center;
    align-items: center;
  }

  .para{
    padding-top: 70px;
  }

  .subscribe{
    margin: 70px 0px 70px 0px;
  }

  blockquote{
    background-color:rgb(29, 28, 28);
    color: rgb(206, 201, 201);
    height: 150px;
  }

  blockquote p{
    padding-top: 50px;
    font-size:xx-large;
  }

  .h5-class{
    width: 100%;
    text-align: center;
    border-bottom: 0.1px solid rgb(155, 153, 153);
    line-height: 0.1rem;
    margin: 60px 0px 70px;
}

.h5-class span{
    padding: 40px 25px 25px 25px;
    background: white ;
}

ul{
    padding-left: 20px;
}

footer{
    display: flex;
    align-items: center;
    margin-top: 70px;
    padding: 50px;
    font-size: small;
    background-color: rgb(29, 28, 28);
    color: whitesmoke;
}

.vert{
    height: 100px;
    width: 1px;
    background-color: white;
}
.foot-c{
    margin-left: 50px;
}
.foot{
    width: 25rem;
}

.cen-fo{
    padding-left: 100px;
}

.cen-on{
    padding-left: 100px;
}